!!!
%html
  %head
    %title #Blesss - Make your blessing count
    = stylesheet_link_tag("app.css")
    = javascript_include_tag("app.js")
  %body
    %header
      %h1 #Blesss - Make your blessing count
      %p
        Blesss shows you the web's most blessed people.
    #main.cf
      .col#top-blessed
        %h2 Top 5 Ever
        %ul
          - @top_blessed.each do |person|
            %li
              %span.cnt= person.cnt
              %a{ href: "http://twitter.com/#{person.username}" }= person.username
      .col#last-blessed
        %h2 Recently blessed
        #mask
          %ul
            - @last_blessed.each do |person|
              %li
                %a{ href: "http://twitter.com/#{person.username}" }= person.username
                %span.latest-at= person.latest_at
    %footer
      Creators
      %a{ href: "http://twitter.com/SjAndringa" } Sjoerd
      &amp;
      %a{ href: "http://twitter.com/whocameupwith" } Jan-Martijn
      &copy; 2012
